.big-heading {
  font-family: "Indie Flower", cursive;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4rem;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.Download-button {
  margin: 5% 3% 5% 0;
}

.colored-section {
  background-color: #ff8080;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

body {
  text-align: center;
  font-family: "open sans", cursive;
}

h3 {
  font-family: 'Lilita one', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

#features {
  position: relative;
  z-index: 1;
}

.icon {
  color: #ff8080;
  margin-bottom: 1rem;
}

.icon:hover {
  color: red;
}

p {
  font-weight: lighter;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 5%;
}

/*cta section*/
#cta {
  background-color: #ff4c68;
  color: #fff;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

  .social-icon {
    margin: 20px 10px;
  }
}
